<!DOCTYPE HTML>

<html>
	<head>
		<title>{{ seo:title }}</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="{{ seo:description }}" />
		<meta name="keywords" content="{{ seo:keywords }}" />
		<meta name="robots" content="{{ seo:robots }}{{ value }}, {{ /seo:robots }}" />

		<link rel="icon" href="{{ seo:favicon }}">

		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				{{ template_content }}

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>